/* CSS Document */

body, html {
    height:100%;
    margin:0;
    padding:0;
    background-color:#fff;
    font-size:1em;
    font-family:Arial, Helvetica, sans-serif;
    line-height:1.3em;
}

body#index a#briar_index_nav,
body#download a#briar_download_nav,
body#how a#briar_how_nav,
body#about a#briar_about_nav,
body#involved a#briar_involved_nav {color:#87C214;}

#briar_wrapper {
    min-height:100%;
    margin-bottom:-2em;
}

img {
    margin:0;
    display:inline;
    padding:0;
    border:none;
    vertical-align:middle;
}

figure {
    text-align:center;
    margin:0 0 50px 0;
    padding:0;
}

figcaption {
    margin:10px 0 0 0;
    font-weight:bold;
    text-align:center;
}

@-ms-viewport{
    zoom:1.0;
    width:extend-to-zoom;
}

.clearboth {clear:both;}

#briar_header_container {
    height:120px;
    position:static;
    width:100%;
    top:0;
    background-color:#2D3E50;
    float:left;
}

#briar_header {
    margin:20px auto 0 auto;
    width:700px;
}

#briar_logo {
    float:left;
    width:20%;
}

.briar_logo {
    border:3px solid #2D3E50;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    background-color:#fff;
    padding:30px 20px 17px 20px;
    margin-top:-40px;
    width:100%;
    max-width:111px;
    height:auto;
    max-height:147px;
}

#briar_nav {
    font-weight:bold;
    padding:0 0 0 0;
    float:right;
    margin:10px auto 10px auto;
    vertical-align:bottom;
    width:80%;
}

#briar_nav a:link {
    text-decoration:none;
    color:#fff;
}

#briar_nav a:visited {
    text-decoration:none;
    color:#fff;
}

#briar_nav a:hover {
    text-decoration:none;
    color:#87C214;
}

#briar_nav a:active {
    text-decoration:none;
    color:#fff;
}

#briar_nav label {display:none;}

#briar_nav ul {
    clear:both;
    display:block;
    list-style-type:none;
    font-size:0.9em;
    padding:0 0 0 0;
    margin:0;
    text-align:right;
    height:auto;
}

#briar_nav li {
    list-style-type:none;
    display:inline;
    padding:0 0 0 20px;
    text-transform:uppercase;
    margin:0;
    font-weight:bold;
    white-space:nowrap;
}

#briar_nav a.current {color:#87C214;}

#briar_menu_toggle {display:none;}

#briar_signup_2 {display:none;}

#briar_signup_form {
    height:30px;
    padding-bottom:10px;
    float:right;
    text-align:right;
}

#briar_signup_form_2 {
    height:auto;
    padding-bottom:0;
    float:left;
    width:80%;
    font-size:1.5em;
    padding-top:10px;
    padding-left:0;
}

#briar_signup_conf {
    display:none;
    float:right;
    text-align:right;
    color:#fff;
    font-size:0.9em;
    font-weight:bold;
    padding-top:5px;
    padding-bottom:15px;
}

#briar_signup_conf_2 {
    display:none;
    float:left;
    color:#fff;
    font-size:1.2em;
    font-weight:bold;
    padding-top:10px;
    padding-left:15px;
}

#briar_signup_form input, textarea {
    display:inline;
    margin-right:10px;
    width:10em;
    font-size:0.7em;
    background-color:#E2E1E1;
    color:#565555;
    padding:3px 5px;
    border:0;
}

#briar_signup_form_2 input, textarea {
    display:inline;
    margin-right:10px;
    width:10em;
    font-size:0.7em;
    background-color:#E2E1E1;
    color:#565555;
    padding:3px 5px;
    border:0;
}

#briar_signup_form button {
    width:auto;
    background-color:#C1392B;
    color:#fff;
    border:0;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    text-transform:uppercase;
    font-size:0.6em;
    font-weight:normal;
    padding:4px 7px;
}

#briar_signup_form_2 button {
    width:auto;
    background-color:#C1392B;
    color:#fff;
    border:0;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    text-transform:uppercase;
    font-size:0.6em;
    font-weight:normal;
    padding:4px 7px;
}

#briar_container {
    margin:0 auto;
    padding:175px 0 3em 0;
    width:700px;
    background:#fff;
    height:auto;
}

#briar_content {
    margin:20px 0 0 0;
    font-size:0.9em;
    line-height:1.4em;
}

#briar_content ul {}

#briar_content li {margin:0 0 10px 0;}

#briar_content h1 {
    margin:23px 20px 0 0;
    font-size:3.5em;
    line-height:1.1em;
    font-weight:normal;
}

#briar_content h2 {
    margin:23px 20px 0 0;
    font-size:2.5em;
    line-height:1.1em;
    font-weight:normal;
}

#briar_content h3 {
    margin:20px 20px 0 0;
    font-size:2em;
    line-height:1.1em;
    font-weight:normal;
}

#briar_content h4 {
    margin:20px 20px 0 0;
    font-size:1.5em;
    line-height:1.1em;
    font-weight:normal;
}

#briar_content h5 {
    margin:20px 20px 0 0;
    font-size:1em;
    line-height:1.1em;
    font-weight:normal;
}

#briar_content h6 {
    margin:20px 20px 0 0;
    font-size:1em;
    line-height:1.1em;
    font-weight:normal;
}

#briar_content p {margin:20px 20px 20px 0;}

#briar_content a:link {
    text-decoration:none;
    color:#87C214;
    font-weight:bold;
}

#briar_content a:visited {
    text-decoration:none;
    color:#87C214;
    font-weight:bold;
}

#briar_content a:hover {
    text-decoration:none;
    color:#C1392B;
    font-weight:bold;
}

#briar_content a:active {
    text-decoration:none;
    color:#87C214;
    font-weight:bold;
}

.full {
    width:100%;
    float:left;
    padding-bottom:40px;
}

#briar_footer_container {
    background-color:#87C214;
    color:#fff;
    bottom:0;
    height:2em;
    left:0;
    position:static;
    width:100%;
    clear:both;
}

#briar_footer {
    line-height:30px;
    margin:0 auto;
    width:100%;
    text-align:center;
    font-size:0.7em;
    font-weight:bold;
    float:left;
}

#briar_footer ul {
    width:700px;
    display:block;
    list-style-type:none;
    font-size:0.9em;
    padding:0 0 0 0;
    margin:0 auto;
    text-align:left;
}

#briar_footer li {
    list-style-type:none;
    display:inline;
    padding:0 10px 0 0;
    margin:0;
    font-weight:normal;
}

#briar_footer a:link {
    text-decoration:none;
    color:#fff;
}

#briar_footer a:visited {
    text-decoration:none;
    color:#fff;
}

#briar_footer a:hover {
    text-decoration:none;
    color:#fff;
}

#briar_footer a:active {
    text-decoration:none;
    color:#fff;
}


#briar_header_container {
    *height:180px;
}

#briar_logo {
    *padding:0;
    *margin:0;
    *height:147px;
    *background-image:url('../img/briar_logo_circle.gif');
    *background-position:0 0;
    *background-repeat:no-repeat;
}

.briar_logo {
    *display:none;
}

#briar_nav {
    *margin-top:40px;
}

#briar_container {
    *padding-top:0;
}

#briar_signup_form button {
    *padding:4px 2px 3px 2px;
    *font-size:0.6em;
    *font-weight:bold;
    *line-height:1.3em;
}

@media only screen and (max-width: 48em) {
    #briar_wrapper {margin-bottom:-5em;}

    #briar_content {
        margin-left:0;
        margin-right:0;
    }

    #briar_content figure img {width:100%;}

    #briar_container {
        width:90%;
        padding-top:70px;
        padding-bottom:5em;
    }

    #briar_content h1 {
        font-size:2em;
        margin-top:15px;
    }

    #briar_content h2 {
        font-size:2em;
        margin-top:15px;
    }

    .briar_logo {display:none;}

    #briar_header {
        height:auto;
        margin:0;
        width:100%;
        float:left;
        padding:0;
    }

    #briar_logo {
        padding:0;
        margin:0;
        float:left;
        width:50%;
        height:71px;
        background-size:129px 51px;
        -webkit-background-size:129px 51px;
        -moz-background-size:129px 51px;
        -o-background-size:129px 51px;
        background-image:url('../img/briar_logo_sm.png');
        background-position:1em 10px;
        background-repeat: no-repeat;
    }

    #briar_header_container {
        height:auto;
        position:static;
        float:left;
        margin:0;
    }

    #briar_nav {
        float:left;
        width:50%;
        margin:0;
    }

    #briar_nav a {
        width:100%;
        height:3em;
        display:block;
    }

    #briar_nav label {
        display:block;
        float:right;
        margin:0 1em 0 0;
        line-height:71px;
    }

    label {cursor:pointer;}

    #briar_nav ul {display:none;}

    #briar_menu_toggle {display:none;}

    #briar_menu {display:none;}

    #briar_menu_toggle:checked + #briar_menu {display:block;}

    #briar_menu li {
        background:#2D3E50;
        border-top:1px solid #34495e;
        border-bottom:1px solid #273646;
        margin-left:-100%;
	    display:block;
        font-size:0.9em;
        line-height:3em;
        text-align:left;
        padding:2px 0 0 30px;
	}

    #briar_footer_container {height:5em;}

    #briar_footer ul {
        width:auto;
        clear:both;
        margin:10px 10px 10px 15px;
    }

    #briar_footer {text-align:left;}

    #briar_footer form {
        margin:10px 10px 0 15px;
        padding:0;
    }

    #briar_signup_2 {
        width:100%;
        display:inline;
    }

    #briar_signup {display:none;}
}
